async-timeout==4.0.2
bidict==0.22.1
blinker==1.8.2
boto3==1.26.154
botocore==1.29.154
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==44.0.1
DBUtils==3.0.3
Flask-SocketIO==5.3.4
Flask==3.0.3
gevent-websocket==0.10.1
gevent==23.9.0
google-auth==2.35.0
greenlet==2.0.2
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==2.1.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
PyMySQL==1.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.4.1
python-socketio==5.8.0
redis==4.5.5
requests==2.32.3
rsa==4.9
s3transfer==0.6.1
six==1.16.0
urllib3==1.26.20
Werkzeug==3.0.6
zope.event==4.6
zope.interface==6.0
