<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tag.css"/> 
    <title>Tag</title>
</head>
<body>
    <nav></nav>

    <header>
        <div id="the_word"></div>
    </header>
    <section class="word_records">
        <div class="records">首次出現時間</div>
        <div class="records">創建者</div>
        <div class="records">話題度</div>
        <div class="records">圖表</div>
        <div class="records">最棒文章</div>
        <div class="records">最爛文章</div>
    </section>
    <script type="text/javascript" src="../js/tag_page.js"></script>
</body>
</html>